.container{
    text-align: center;
    padding-top: 30px;
}
h3{
    color: blue;
}
p{
    color: grey;
}
.card{
    height: 16rem;
    width: 11rem;
    padding-top: 6px;
}
.row{
    padding-left: 120px;
    padding-top: 30px;;
}
