<div class="container">
    <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%
        </div>
    </div><br /> -->
    <h3><b>Congratulations!! Your profile is ready.</b></h3><br />
    <p><b>Choose Which Type Of Loan You Want To Apply</b></p>
    <div class="row">
        <div class="col">
            <div class="card">
                <a routerLink=""><img
                        src="https://www.shutterstock.com/image-vector/person-dollar-sign-cash-personal-260nw-1153553884.jpg"
                        class="card-img-top" style="height: 170px;" alt="personal-loan">
                </a>
                <div class="card-body">
                    <a class="btn btn-secondary">Coming Soon</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZFEXJFcyiNjuJIV6hRrm4Q-WHdRwkCUTuFKDDeQWHh5JG_UIbStxKnNn6bDrqcXEmEHs&usqp=CAU"
                    class="card-img-top" alt="employment-details">
                <div class="card-body">
                    <p><a routerLink="/hl-applynow"><button class="btn btn-primary">Apply Now <i class="fa fa-arrow-right"
                        aria-hidden="true"></i></button></a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a routerLink="/contact-information"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLBpHPQ-IIjwflrvvIFLxD2MiP_tpVtTSUuQ&usqp=CAU"
                        class="card-img-top" alt="contact-information"></a>
                <div class="card-body">
                    <p><a routerLink="/vl-applynow"><button class="btn btn-primary">Apply Now <i class="fa fa-arrow-right"
                        aria-hidden="true"></i></button></a></p>
                </div>
            </div>
        </div>
    </div>
</div><br />
<footer></footer>