<navbar></navbar>
<div class="container">
  <h3>Change Password</h3>
  <br/>
    <div class="c shadow p-3 mb-5 bg-white rounded">
      
       <div class="row">
         <div class="col-md-4">
            <label>Enter Current Password</label>
         </div>
         <div class="col-md-4">
            <input type="password" name="currentPassword" [(ngModel)]="currentPassword"/>
         </div>
       </div>
       <br/>
       <div class="row">
        <div class="col-md-4">
           <label>Enter new Password</label>
        </div>
        <div class="col-md-4">
           <input type="password" name="newPassword" [(ngModel)]="newPassword"/>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
           <label>Confirm new Password</label>
        </div>
        <div class="col-md-4">
           <input type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword"/>
        </div>
      </div>
      <br/>
      <br/>
      <button class="btn btn-primary" (click)="changePassword()">Submit</button>
      {{errMsg}}
    </div>

</div>
