<div class="container">
    <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div><br /> -->
    <h4>Please Upload these Details</h4><br />
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgBil8EUl2Tm42fRQnaEJvXA1vxCwBFAbCjw&usqp=CAU"
                    class="card-img-top" alt="upload image">
                <div class="card-body" style="text-align: center;">
                    <a routerLink="/income-tax-return" class="btn btn-primary">Income Tax Return</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/2845/2845655.png" class="card-img-top"
                    alt="upload image">
                <div class="card-body" style="text-align: center;">
                    <button class="btn btn-secondary">Bank Statement</button>
                </div>
            </div>
        </div>
    </div>
</div><br />
<footer></footer>