.container {
    padding-top: 30px;
    background-image: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8b2ZmaWNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-position: 100%;
  }
  h4 {
    margin: 2rem 0rem 1rem;
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 
.row{
    padding-left: 180px;
}
.card{
    background-color:#FEFCF3;
    size-adjust: auto;

}

 
