<ng-container *ngFor="let message of messages">
    <div class="message" [ngClass]="{from: message.author === 'bot',to: message.author === 'user'}">
      {{ message.content }}
    </div>
  </ng-container>
  <label *ngIf="messages.length == 0; else dialogInfo" for="nameField">Chat Bot</label>
  <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" />
  <button  style="background-color: #7e98ba; border: 1px solid #7e98ba; border-radius: 2px; height: 30px;  "(click)="sendMessage()">Send</button>
  <ng-template #dialogInfo>
    <span [className]="'float-right'">Type here</span>
  </ng-template>