<div class="container">
    <h1><b>Congratulations!</b></h1>
    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW8TWawveCg6f-bfUicrArZzQRQjHzxgT-DwIr3wXOEuXwW4BpFU9SRLG8dciq_2Akhlg&usqp=CAU"
            alt="approved"></p>
    <h3><b>Vehicle loan has been approved of</b></h3>
    <div class="box">
        <a class="button" href="">amount from backend</a>
    </div>
    <img src="https://media.istockphoto.com/id/1190768716/vector/happy-couple-with-approved-car-loan-and-new-modern-auto-bank-building-and-credit-agreement.jpg?s=612x612&w=0&k=20&c=YeW2wtP7mEu4d_uUaOXCK_6_ULO4NIar8omYYv5Q9Vg="
                alt="approved" style="height:500px; margin-left: 100px; padding-left: 90px;">
</div><br/>
<div class="col-md-2" style="padding-left: 60px;">
    <p><a routerLink="/home"><button class="btn btn-primary" style="width: 200px;">Back to Home</button></a>
    </p>
</div><br/>
<footer></footer>