.container {
    padding-top: 30px;
}

.card {
    padding-left: 10px;
}

.card-body {
    border: 1px dotted black;
    padding: 8px;
    margin-bottom: 5px;
    width: 90%;
    bottom: 10px;
}

.vertical {
    border-left: 3px solid black;
    height: 97%;
    position: absolute;
    left: 45%;
}

.but {
    padding-left: 25%;
    padding-bottom: 20px;
}

.h5 {
    color: blue;
    padding-right: 60px;
}

.ok {
    text-align: justify;
    margin-right: 50px;
}
.last{
    text-align: center;
}