<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div><br /><br />
    <div class="card">
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-5">
                <!-- <form *ngIf="registerForm" [formGroup]="registerForm" class="form" (ngSubmit)="submit()"> -->

                    <p><b>Financial Year 2022-23*</b></p>
                    <div class="card-body">
                        <form *ngIf="registerForm" [formGroup]="registerForm" class="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-9">
                                    <input (change)="onImageChangeFromFile($event)" type="file"
                                        formControlName="fileUpload" class="form-control" id="fileUpload">
                                </div>
                                <div *ngIf="registerForm.controls['fileUpload'].invalid && registerForm.controls['fileUpload'].dirty"
                                    class="text-danger">
                                    <div *ngIf="registerForm.fileUpload.errors?.required">Choose a suitable file type</div>
                                </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                    </div>
                            </div>
                        </form>
                    </div><br />
                    <p><b>Financial Year 2021-22*</b></p>
                    <div class="card-body">
                        <form *ngIf="registerForm" [formGroup]="registerForm" class="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-9">
                                    <input (change)="onImageChangeFromFile($event)" type="file"
                                        formControlName="fileUpload" class="form-control" id="fileUpload">
                                </div>
                                <div *ngIf="registerForm.controls['fileUpload'].invalid && registerForm.controls['fileUpload'].dirty"
                                    class="text-danger">
                                    <div *ngIf="registerForm.fileUpload.errors?.required">Choose a suitable file type</div>
                                </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                    </div>
                            </div>
                        </form>
                    </div><br />
                    <p><b>Financial Year 2020-21*</b></p>
                    <div class="card-body">
                        <form *ngIf="registerForm" [formGroup]="registerForm" class="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-9">
                                    <input (change)="onImageChangeFromFile($event)" type="file"
                                        formControlName="fileUpload" class="form-control" id="fileUpload">
                                </div>
                                <div *ngIf="registerForm.controls['fileUpload'].invalid && registerForm.controls['fileUpload'].dirty"
                                    class="text-danger">
                                    <div *ngIf="registerForm.fileUpload.errors?.required">Choose a suitable file type</div>
                                </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                    </div>
                            </div>
                        </form>
                    </div><br />
                <!-- </form> -->
                <div>
                    <p>---------------------------------OR-------------------------------</p>
                    <p>If you haven't filed any ITR(Income Tax Return) yet and your annual income is less than 2.5 lakh
                    </p><br />
                    <div class="but">
                        <button class="btn btn-outline-primary mr-1">
                            Declare your Income Manually
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="vertical"></div>
            </div>
            <div class="col">
                <div class="ok">
                    <h5>How to download ITR Forms(PDF (For ITR 1/2/4s) / XML (For ITR 3) Format) ?</h5><br />
                    <p>Step 1. Visit <a
                            href="https://www.incometax.gov.in/iec/foportal/">www.incometaxindiaefilling.gov.in</a>,
                        click on
                        the "Login Here" button and insert your credentials to log in to your Income Tax account.</p>
                    <br />
                    <p>Step 2. Click ont the "My Accounts - View e-Filed Returns / Forms", Select Income Tax Returns in
                        the dropbtndown provided and click on "Submit" button.</p><br />
                    <p>Step 3. Click on the number provided below the haeder "Ack. No."<br />
                        Click on "ITR Form" for ITR 1/2/4 and "XML" For ITR 3 under the heading "Download/Status
                        Description.</p><br />
                    <p>Step 4. Click on the "Back" button and download the "PDF/Xml" files by following Step-3 for the
                        relevant.</p><br />
                    <p>Step 5. Upload the saved "PDF / XML" files on www.pcploansin59minutes.com</p>
                    <i class="fa fa-play-circle-o"> To watch video instructions. <a
                            href="https://youtu.be/4-phqYVRl5U">Click here</a></i>
                </div>
            </div>
        </div>
    </div><br />
    <div class="last">
        <div class="row" style="padding-left: 250px;">
            <div class="col-md-4">
                <p><a routerLink="/proceed"><button class="btn btn-outline-primary mr-1">Cancel</button></a>
                </p>
            </div>
            <div class="col-md-4">
                <p><a routerLink="/proceed-inbetween"><button class="btn btn-outline-primary mr-1">Proceed →</button></a>
                </p>
            </div>
        </div>
    </div>
</div>
<footer></footer>