 
<body>
    <div class="container">  
<h1 id="bannerimage">Privacy Policy</h1><br/><br/>

    The protection of your information is important to us. Bank of Cosmopolitian is committed to safeguard and ensure the security of information that we may receive while you browse our website. This privacy policy divulges our practice with respect to the information collected by us while you are viewing or transacting on our bank’s website ifsc.bankofbaroda.in. The privacy policy is applicable to all visitors, customers or non-customers who access or use the said website and/or has provided information to the Bank with the intention of establishing a relationship. By disclosing any information to us you agree and abide by the terms and conditions of this policy.
    <Br/><br/>
    We follow best security practices in the industry to help prevent unauthorized access to confidential information about you and assure you that we maintain strict security procedures to protect your information.
    <br/><br/>
    <h4>Information we collect:</h4>
<p >Personal Identifiable Information (PII):</p> When you visit our website, your personal information like name, age, email address, mobile number, state, country, etc. gets stored in our servers.
<br/><br/>
<h4>Information you post:</h4>
We may collect publicly available information about the user which the Bank reasonably believes is lawfully publicly available or information posted on our website or on a third-party social media site belonging to the bank. The nature of the information, not the source of the information, determines whether it is publicly available information for purposes of the privacy policy.
<br/><br/>
<h4>Demographic information.</h4>We may collect your demographic information, your interests, or any other information you provide during the use of our website. We might collect this as a part of a survey also.
<br/><br/>
<h4>Other information:</h4>If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.

We collect information in different ways
<ul>
    <li>We collect information directly from you when you fill up a form on our website. We also collect information if you post a comment on our website or get in touch with us via phone or email.</li>
<li>We collect information from you passively by using tracking tools. This helps in collecting information about your usage of our website.</li>
<li>We collect your information from third parties. For example, if you use an integrated social media feature on our website, the respective third-party social media site will provide us some information about you. This could include your name and email address.</li>

</ul>

We won't ask you to supply personal information publicly over Facebook, Twitter, or any other social media platform or any public site in internet.

<br/><br/>
<h4>Use of your personal information:</h4>
<p>We use the information we collect about and from you for the relevant lawful purposes connected to our business as mentioned below.</p>
<ul>
<li>We use information to contact you for confirmation of registration for a product on our website or for other promotional purposes.</li>
<li>We use information to contact you for confirmation of registration for a product on our website or for other promotional purposes.</li>
<li>We use information to improve our products and services and display content based on your interests and preferences</li>
<li>We use information to understand website trends to make our website experience and products better.</li>
<li>We use information for security purposes such as protecting our bank or our website.</li>
<li>We use information for marketing purposes such as sending communication about special promotions or offers, new products, etc. of our bank we think you might find interesting.</li>
<li>We use information to send you communications via emails or SMS.</li>
<li>We use information for Advertising and Marketing: We use your personal information to offer you products and services we believe may interest you, but we will not do so if you tell us not to. These products and services may be directly offered by the Bank or an outsourced service provider for the Bank. The products and services may be offered by various means, including by mail, telephone, email, SMS or other electronic means , such as through social media or targeted advertising etc.</li>
<li>We use information to send you marketing communications on products and services that we believe may be of interest to you, and/or to prequalify you for such products and services</li>
<li>We use information to personalize your experience on our website by presenting products and offers tailored to you</li>
<li>We use information to respond to your enquiries and fulfil your requests</li>
</ul>
<p>Sharing of information with third-parties</p>
We intend to share your information with authorised third-parties such as:
<li>Third Party Service Providers</li>
<li>Marketing and Data Analytics Organisations</li>
<li>Compliance with Local Laws</li>
<br/><br/>
Sharing of personal information with third-parties is as per Bank’s approved guidelines and that the information is shared and used as per the service level agreement and non-disclosure agreement wherever applicable.

We will be sharing the information with third parties for the purpose of marketing and in order to offer and/or suggest financial products / services to visitors. For other business purposes such as, data analysis, audits, developing new, improving existing products and services, enhancing our website, identifying usage trends, determining the effectiveness of promotional campaigns etc.
<br/><br/>
<p>Third party sites</p>
Upon clicking on one of the redirection links to third party sites, you may be taken to websites that are not under our control. In such cases, this policy does not apply to the privacy practices of those third-party websites. Please read the privacy policy of other websites carefully before browsing. Bank of Baroda is not responsible for these third party sites. The use of the said third party website shall be at the risk of customers/ as per terms and conditions of that website and bank will not be liable for any damages.
<br/><br/>
<p>Usage of Cookies</p>A “Cookie” is a small piece of information stored by a web server on your browser, to enable your browser to read it later whenever you log back in. To enable the browser to store specific information related to you, we may use permanent as well as temporary cookies. You can always choose to disable cookies by going into the settings of your browser. To know more about our cookie policy, 
<br/><br/>
<p>Grievance</p>
In case of any complaint or grievance related to us or handling of user data and other information may be brought to our attention by contacting us via our grievance redressal portal https://www.bankof.in/grievance-redressal. We will try to redress the grievances within reasonable time as may be provided in applicable laws.
<br/><br/>
<p>Updates to this policy</p>
We may amend / Revise the Privacy Policy at any time without any prior notice. It is your responsibility to review the updated Privacy Policy. If you continue to use the Website post amendment / Revision of the Privacy Policy it will means that you agree to the changed / amended Privacy Policy. Therefore, Please check this page periodically to be aware of any changes.
<br/><br/>
<p>Please note : we never ask for the information like passwords, PIN (Personal identification No.), OTP (One time passwords), card numbers, CVV / CVC and expiry date from anyone. We advise all not to share this with anyone including Bank officials nor keep it in any readable form.<p>
</div>

</body>