.card-body{
    background-color: rgb(220, 217, 217, 0.5);
    backdrop-filter: blur(14px);
}
.container{
    padding-top: 60px;
     align-items: center;
    background-color: light;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
    
}
h3{
    text-align: center;
    color: #243d5e;
}