<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%
        </div>
    </div><br />
    <h3>Employment-Details <i class="fa fa-address-card-o" aria-hidden="true"></i></h3><br />
    <div class="card">
        <form class="row g-3">
            <div class="col-md-3">
                <label for="validationServer01" class="form-label">Employment Type*</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Salaried</option>
                        <option value="2">Self Employed-Businessman</option>
                        <option value="3">Self Employed-Professional</option>
                        <option value="4">Agriculturist</option>
                        <option value="5">Pensioner</option>
                        <option value="6">Others</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationServer01" class="form-label">Type Of Organisation*</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Doctor</option>
                        <option value="2">Lawyer</option>
                        <option value="3">CA</option>
                        <option value="4">CS</option>
                        <option value="5">ICWA</option>
                        <option value="6">Architect</option>
                        <option value="7">Businessman</option>
                        <option value="8">Agriculturist / Pensioner / Others</option>
                        <option value="9">Others</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Name of Organisation*</label>
                <input type="text" class="form-control" placeholder="Ex: Abcd" id="validationServer01" required>
            </div>
            <form class="row g-3">
                <div class="col-md-3">
                    <label for="validationServer01" class="form-label">Employment Status*</label>
                    <div class="input-group sm-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select</option>
                            <option value="1">Regular</option>
                            <option value="2">Probationary</option>
                            <option value="3">Contractual</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer01" class="form-label">Designation*</label>
                    <div class="input-group sm-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select</option>
                            <option selected>Select</option>
                            <option value="1">Senior Management</option>
                            <option value="2">Middle Management</option>
                            <option value="3">Junior</option>
                            <option value="4">Pensioners</option>
                            <option value="5">Others</option>
                            <option value="6">Self Employed</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer01" class="form-label">Mode of Salary*</label>
                    <div class="input-group sm-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select</option>
                            <option value="1">Direct in Account</option>
                            <option value="2">Cheque</option>
                            <option value="3">Cash</option>
                        </select>
                    </div>
                </div>
            </form>
        </form><br />
        <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p><br />
        <form class="row g-3">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Gross Monthly Income*</label>
                <input type="text" class="form-control" placeholder="Ex: 20000" id="validationServer01" required>
            </div>
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">Net Monthly Income*</label>
                <input type="text" class="form-control" placeholder="Ex: 15000" id="validationServer01" required>
            </div>
        </form><br />
        <form class="row g-3">
            <div class="col-md-6">
                <label for="validationServer01" class="form-label">Operating Business Since*</label>
                <div class="input-group md-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Years</option>
                        <option value="1">2000</option>
                        <option value="2">2001</option>
                        <option value="3">2002</option>
                        <option value="4">2003</option>
                        <option value="5">2004</option>
                        <option value="6">2005</option>
                        <option value="7">2006</option>
                        <option value="8">2007</option>
                        <option value="9">2008</option>
                        <option value="10">2009</option>
                        <option value="11">2010</option>
                        <option value="12">2011</option>
                        <option value="1">2012</option>
                        <option value="2">2013</option>
                        <option value="3">2014</option>
                        <option value="4">2015</option>
                        <option value="5">2016</option>
                        <option value="6">2017</option>
                        <option value="7">2018</option>
                        <option value="8">2019</option>
                        <option value="9">2020</option>
                        <option value="10">2021</option>
                        <option value="11">2022</option>
                        <option value="12">2023</option>
                    </select>&nbsp;&nbsp;
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Months</option>
                        <option>January </option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div><br/>
<div class="last">
    <div class="row" style="padding-left: 250px;">
        <div class="col-md-4">
            <p><a routerLink="/pdcheck1"><button class="btn btn-outline-primary mr-1">Cancel</button></a>
            </p>
        </div>
        <div class="col-md-4">
            <p><a routerLink="/pdcheck2"><button class="btn btn-outline-primary mr-1">Proceed →</button></a>
            </p>
        </div>
    </div>
</div><br/>
<footer></footer>