<div class="container">
    <h2>Cheque Book Request Letter <i class="fa fa-envelope" aria-hidden="true"></i>
    </h2><br />
    <div class="card" style="padding-left: 30px; padding-top: 20px;">
        <p>[Your Address: ]</p><br />


        <p>The Branch Manager</p>

        <p>Cosmopolitian Bank</p>

        <p>Electronics City Branch</p>

        <p>Bangalore - 650100</p><br />


        <p>Subject: Request Letter for Cheque Book</p><br />


        <p>Respected Sir/Ma’am,</p><br />

        <p>I am [Your Name:___________], and I hold a savings account with Account no: [__________] in your bank. I am
            writing this
            letter to request you to issue me a single cheque book of 100 leaves or two cheque books of 50 leaves each.
        </p><br />


        <p>I have attached the copies of my Aadhar card and Address proof for your verification along with this letter.
        </p><br />


        <p>I hope you kindly consider my request and do the needful.</p>


        <p>Thank you</p><br />

        <p>Yours Sincerely</p><br />

        <p>[Your Name:___________]</p><br />
    </div>
</div><br />
<div class="upload">
    <h4><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        Upload the Letter</h4><br/>
    <div class="card">
        <form action="/action_page.php">
            <input type="file" id="upload" name="filename">

        </form>
    </div>
</div><br/>
<div class="col-md-4" style="padding-left: 550px;">
    <p><a routerLink="/proceed"><button class="btn btn-outline-primary mr-1">Back</button></a>
    </p>
</div>
<br />

<footer></footer>