<div class="container">
    <h1><b>Congratulations!</b></h1>
    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW8TWawveCg6f-bfUicrArZzQRQjHzxgT-DwIr3wXOEuXwW4BpFU9SRLG8dciq_2Akhlg&usqp=CAU"
            alt="approved"></p>
    <h3><b>Home loan has been approved of</b></h3>
    <div class="box">
        <a class="button" href="">amount from backend</a>
    </div>
    <img src="https://static.vecteezy.com/system/resources/previews/005/085/280/non_2x/a-new-startup-has-successfully-applied-for-a-loan-from-a-bank-entrepreneur-successful-business-negotiations-and-approved-loan-free-vector.jpg"
                alt="approved" style="height:500px; margin-left: 100px;">
</div>
<div class="col-md-2" style="padding-left: 60px;">
    <p><a routerLink="/home"><button class="btn btn-primary" style="width: 200px;">Back to Home</button></a>
    </p>
</div><br/>
<footer></footer>