
<navbar></navbar>
<section
style="background-image: url('https://media.istockphoto.com/id/1091192542/photo/empty-wooden-table-and-window-room-interior-decoration-background-product-montage-display-can.jpg?b=1&s=170667a&w=0&k=20&c=6aUCRqVagBTF0HjfeffJsjxhVDJel75EdFaRmG_nZ-c=');">
    <div class="container">
        <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div><br /> -->
        <h3>Check the statements which are true</h3>
        <form>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered" style="font-family:Georgia, 'Times New Roman', Times, serif;">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1"></label>
                                    </div>
                                </td>
                                <td><b>I am applying as individual</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2"></label>
                                    </div>
                                </td>
                                <td><b>I have filed my Income tax returns</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3"></label>
                                    </div>
                                </td>
                                <td><b>I have salary/savings/current account and last 6 months banks statement are available</b></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4"></label>
                                    </div>
                                </td>
                                <td><b>I am not defaulter in bank loan</b></td>
                            </tr>
                            <tr>
                        </tbody>
                    </table>
                    <div class="last">
                        <div class="row" style="padding-left: 250px;">
                            <div class="col-md-4">
                                <p><a routerLink="/home"><button class="btn btn-outline-primary mr-1">Back</button></a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-outline-primary mr-1" (click)="proceed()">Proceed →</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer></footer>
</section>