<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%
        </div>
    </div>
    <h4>Personal details (0/3 Completed)</h4><br />
    <div class="row">
        <div class="col">
            <div class="card">
                <a routerLink="/basic-information"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOH2aZnIHWjMQj2lQUOWIL2f4Hljgab0ecZQ&usqp=CAU"
                        class="card-img-top" alt="basic-information">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Basic Information </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6kBkZiEUP04YE50g1NtSQg9fzl6RL2dCc2Q3IjExr9grGLvFTWzRaV8U2Ug3OSzIkZw8&usqp=CAU"
                        class="card-img-top" alt="employment-details">
                <div class="card-body">
                    <h5 class="card-title">Employment Details</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT7DCzzOZVy2QLGIGgx9Kmxs7h8iztwXZ1lw&usqp=CAU"
                        class="card-img-top" alt="contact-information">
                <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                </div>
            </div>
        </div>
    </div>
</div><br />
<footer></footer>