<!-- <p>footer works!</p> -->

<!-- <div class="footer">
    
    <table>
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                <p style="padding-right: 200px; padding-top: 30px;"><a routerLink="/privacy-and-policy">Privacy and Policy</a></p> &nbsp;
            </td>
            <td>
                <img src="https://i.pinimg.com/originals/2a/31/61/2a3161135f001e58c563ef3103221dcd.jpg" alt="Bank" width="80" height="80" style="position: absolute; right:2px; top: 2px"/>
            </td>
        </tr>
    </table>
</div> -->

<div class="footer">
    <div class="row">
        <div class="col">
            <p style="padding-top: 30px;">© Copyright Cosmopolitan Bank Ltd. </p> &nbsp;
        </div>

        <div class="col">
            <p style="padding-top: 30px;"><a routerLink="/terms-and-condition">Terms and Conditons</a></p> &nbsp;
        </div>

        <div class="col">
            <p style="padding-top: 30px;"><a routerLink="/privacy-and-policy">Privacy and Policy</a></p> &nbsp;
        </div>
    </div>
</div>