<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%
        </div>
    </div><br />
    <h4>Please Upload Your Bank Statement (PDF Format)</h4><br />
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3" style="width: 400px;">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select Bank</option>
                            <option value="1">Cosmopolitian Bank</option>
                            <option value="2">Good Luck Bank </option>
                            <option value="3">Alltogether Bank</option>
                            <option value="4">Youth Bank</option>
                            <option value="5">People's Bank</option>
                            <option value="6">Connect Bank</option>
                            </select>
                    </div>
                </div>&nbsp;&nbsp;
                <div class="col">
                    <p style="padding-top: 4px; padding-left: 3px;">Account Since <b>?</b></p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3" style="width: 250px;">
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3" style="width: 200px;">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Year</option>
                            <option value="1">2000</option>
                            <option value="2">2001</option>
                            <option value="3">2002</option>
                            <option value="4">2003</option>
                            <option value="5">2004</option>
                            <option value="6">2005</option>
                            <option value="7">2006</option>
                            <option value="8">2007</option>
                            <option value="9">2008</option>
                            <option value="10">2009</option>
                            <option value="11">2010</option>
                            <option value="12">2011</option>
                            <option value="1">2012</option>
                            <option value="2">2013</option>
                            <option value="3">2014</option>
                            <option value="4">2015</option>
                            <option value="5">2016</option>
                            <option value="6">2017</option>
                            <option value="7">2018</option>
                            <option value="8">2019</option>
                            <option value="9">2020</option>
                            <option value="10">2021</option>
                            <option value="11">2022</option>
                            <option value="12">2023</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: left 30px;">
            <form *ngIf="registerForm" [formGroup]="registerForm" class="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-9">
                        <input (change)="onImageChangeFromFile($event)" type="file"
                            formControlName="fileUpload" class="form-control" id="fileUpload">
                    </div>
                    <div *ngIf="registerForm.controls['fileUpload'].invalid && registerForm.controls['fileUpload'].dirty"
                        class="text-danger">
                        <div *ngIf="registerForm.fileUpload.errors?.required">Choose a suitable file type</div>
                    </div>
                        <div class="col">
                            <button type="submit" class="btn btn-outline-secondary">Submit</button>
                        </div>
                </div>
            </form>
            <br />
            <p class="card-text"><b>Note: </b>If you are unable to find your Bank Name in the list, please email to
                support@pcploansin59minutes.com any 3 months
                statements in PDF format. We will try to get your bank activated and intimate once the same is done.
            </p>
            <p>
                -------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </p>
            <p><b>Is this your Salary Account ?</b></p>
            <form>
                <div class="form-check">
                    <input type="radio" id="yes" name="yesno" value="yes" (click)="yesNo()">
                    <label for="true">Yes</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="no" name="yesno" value="no" (click)="yesNo()">
                    <label for="false">No</label>
                    <p id="createSalaryAccount" style="visibility: hidden;"><a href="/savings-account">Click here to create salary account</a></p>
                </div>
            </form>
            <br/>
            <div>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Please Note<br/>
                We do not ask for your net banking password here
            </div>
        </div>
    </div><br />
    <div class="last">
        <div class="row" style="padding-left: 250px;">
            <div class="col-md-4">
                <p><a routerLink="/proceed"><button class="btn btn-outline-primary mr-1">Cancel</button></a>
                </p>
            </div>
            <div class="col-md-4">
                <p><button [disabled]="flag" class="btn btn-outline-primary mr-1" (click)="submit1()">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>
<footer></footer>