.container {
    padding-top: 30px;
    background-position: 100%;
}
.card{
    height: 16rem;
    width: 11rem;
    padding-top: 6px;
}
h4 {
    margin: 2rem 0rem 1rem;
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornflowerblue;
    text-align: center;
}
.row{
    padding-left: 120px;
}