<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%
        </div>
    </div><br />
    <h3>Basic Information <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </h3><br />
    <div class="card">
        <form>
            <div class="row g-3"  >
            <div class="col">
                <label for="validationServer01" class="form-label">Salutation</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Dr.</option>
                        <option value="2">Mr.</option>
                        <option value="3">Ms.</option>
                        <option value="4">Mrs.</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">First name*</label>
                <input type="text" class="form-control" placeholder="Ex: Abcd" id="validationServer01" required>
            </div>
            <div class="col-sm-3">
                <label for="validationServer02" class="form-label">Middle name</label>
                <input type="text" class="form-control" placeholder="Ex: Bcd" id="validationServer02" required>
            </div>
            <div class="col-sm-3">
                <label for="validationServer02" class="form-label">Last name*</label>
                <input type="text" class="form-control" placeholder="Ex: Xyz" id="validationServer02" required>
            </div>
        </div><br />
        </form>
        <div class="row g-3">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="birthdate">Birthdate</label><br />
                    <input max="2017-04-01" type="date" name="birthdate" id="birthdate">
                </div>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">PAN*</label>
                <input type="text" class="form-control" id="validationServer01" required>
            </div>
            <div class="col">
                <label for="validationServer01" class="form-label">Gender*</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Others</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Category*</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">General</option>
                        <option value="2">SC</option>
                        <option value="3">ST</option>
                        <option value="4">OBC</option>
                        <option value="5">Others</option>
                        <option value="6">Minority Community</option>
                    </select>
                </div>
            </div>
        </div>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p><br />
        <form class="row g-3">
            <div class="col-sm-4">
                <label for="validationTooltip05" class="form-label">Mobile Number*</label>
                <input type="text" class="form-control" placeholder="Ex: +91-6xxxxxxxxx" id="validationTooltip05"
                    required>
            </div>
            <div class="col-sm-4">
                <label for="validationTooltip05" class="form-label">Telephone (Landline)*</label>
                <input type="text" class="form-control" placeholder="Ex: 041xxxxxxxx" id="validationTooltip05" required>
            </div>
            <div class="col-sm-4">
                <label for="validationServer01" class="form-label">Email (Personal)*</label>
                <input type="text" class="form-control" placeholder="Ex: xxxx@gmail.com" id="validationServer01"
                    required>
            </div>
        </form><br />
        <form class="row g-3">
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Father Name*</label>
                <input type="text" class="form-control" placeholder="Ex: Abnca" id="validationServer01" required>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Education Qualification*</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Undergraduate</option>
                        <option value="2">Graduate</option>
                        <option value="3">Post Graduate</option>
                        <option value="4">Professional</option>
                        <option value="4">Others</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Networth* <i class="fa fa-question-circle"
                        aria-hidden="true"></i></label>
                <input type="text" class="form-control" placeholder="Ex: 52000 " id="validationServer01" required>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Nationality</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Resident India</option>
                        <option value="2">Non-Resident India</option>
                    </select>
                </div>
            </div>
        </form>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </p>
        <form class="row g-3">
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Dependent* <i class="fa fa-question-circle"
                        aria-hidden="true"></i></label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="4">4</option>
                        <option value="4">5</option>
                        <option value="4">6</option>
                        <option value="4">7</option>
                        <option value="4">8</option>
                        <option value="4">9</option>
                        <option value="4">10</option>

                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="validationServer01" class="form-label">Martial Status*</label>
                <div class="input-group sm-3">
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select</option>
                        <option value="1">Married</option>
                        <option value="2">UnMarried</option>
                        <option value="3">Others</option>
                    </select>
                </div>
            </div>
        </form>
    </div><br/>
    <div class="last" style="padding-left: 60px;">
        <div class="row" style="padding-left: 250px;">
            <div class="col-md-4">
                <p><a routerLink="/personal-details"><button class="btn btn-outline-primary mr-1">Cancel</button></a>
                </p>
            </div>
            <div class="col-md-4">
                <p><a routerLink="/pdcheck1"><button class="btn btn-outline-primary mr-1">Proceed →</button></a>
                </p>
            </div>
        </div>
    </div>
</div>
<footer></footer>