<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%
        </div>
    </div><br />
    <h3>Declaration</h3><br />
    <div class="card">
        <div class="row">
            <h5>Your Employer Will</h5>
        </div>
        <div>
            <table>
                <tr>
                    <td>Pay EMI directly from your Salary Account ?</td>
                    <td>
                        <div class="form-check">
                            <input type="radio" id="yes" name="yes" value="yes">
                            <label for="true">Yes</label>
                        </div>
                        <div class="form-check">

                            <input type="radio" id="no" name="yes" value="no">
                            <label for="false">No</label>
                        </div>

                        
                    </td>
                </tr>
                <tr>
                    <td>Agree to pay loan outstanding from your terminal payments in event you leave your employer ?
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="radio" id="yes" name="no" value="yes">
                            <label for="true">Yes</label>
                        </div>
                        <div class="form-check">

                            <input type="radio" id="no" name="no" value="no">
                            <label for="false">No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Pay salary only in your salary account and take Confirmation (NOC) from bank before shifting
                        your Salary Account ?</td>
                    <td>
                        <div class="form-check">
                            <input type="radio" id="yes" name="yesno" value="yes">
                            <label for="true">Yes</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="no" name="yesno" value="no">
                            <label for="false">No</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div><br/>
    <div class="card">
        <div class="row">
            <h5>Whether you (Employee/Borrower) will</h5>
        </div>
        <div>
            <table>
                <tr>
                    <td>Issue letter to your employer, to pay loan outstanding from your terminal payments in event you leave your employer ?</td>
                    <td>
                        <div class="form-check">
                            <input type="radio" id="yes" name="yess" value="yes">
                            <label for="true">Yes</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="no" name="yess" value="no">
                            <label for="false">No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Issue letter to your employer to not change your salary account and if need to change then take confirmation (NOC) from bank ?
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="radio" id="yes" name="noo" value="yes">
                            <label for="true">Yes</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="no" name="noo" value="no">
                            <label for="false">No</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Repayment Mode* <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    </td>
                    <td>
                        <div class="input-group sm-3">
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Select</option>
                                <option value="1">ECS/Standing Instruction (Other Account)</option>
                                <option value="2">ECS/Standing Instruction (Salary Account</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div><br/>
    <div class="col-md-4" style="padding-left:500px;">
        <p><a routerLink="/success-homeloan"><button class="btn btn-primary">Proceed </button></a>
        </p>
    </div>
</div>
<footer></footer>
