<div class="container">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div><br />
    <h3>Thank you for uploading details <i class="fa fa-thumbs-up" style="color: green;" aria-hidden="true"></i>
    </h3><br />
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgBil8EUl2Tm42fRQnaEJvXA1vxCwBFAbCjw&usqp=CAU"
                    class="card-img-top" alt="upload image">
                <div class="card-body" style="text-align: center;">
                    <button class="btn btn-outline-secondary">Income Tax Return  <i class="fa fa-check-circle" style="color: green;" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/2845/2845655.png" class="card-img-top"
                    alt="upload image">
                <div class="card-body" style="text-align: center;">
                    <button class="btn btn-outline-secondary">Bank Statement  <i class="fa fa-check-circle" style="color: green;" aria-hidden="true"></i>

                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="padding-left: 500px;">
        <p><a routerLink="/personal-details"><button class="btn btn-primary mr-1">Proceed</button></a>
        </p>
    </div>
</div><br />
<footer></footer>