.user-detail-box{
  border-style: solid;
  border-width: .1px;
  padding: 10px;
  font-family:'Times New Roman', Times, serif;
  box-shadow: 2px solid black;
  margin: 50px;
}
.user-detail-box div{
  color: rgb(4, 44, 78);
  font-weight: 400;
  padding: 2px;
  margin-left: 10px;
}

h3{
  margin-top: 40px;
  margin-bottom: 10px;  
  color:#628ec7;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif
}