.logout{
    background-color: rgb(76, 76, 194);

    
}

.container-fluid button:hover{

    background-color: rgb(133, 45, 21);
}

.container-fluid{
    display: flex;
    justify-content: space-between;
}