<div class="container">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <div class="container p-5">
        <h1 style="text-align: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; color:aliceblue; "
            id="bannerimage">Online Assist</h1><br /><br />



        <div class="col-sm-4">
            <img class="float-start"
                src="https://as1.ftcdn.net/v2/jpg/01/39/46/06/1000_F_139460619_bMnc3UfKmz29oNjj2HEcehKXfFkCKxym.jpg">




            <div class="panel panel-default">
                <h3
                    style="padding-left: 20px; position: relative; top: 12px; font-family: 'Times New Roman', Times, serif;">
                    <b>Please Note <i class="fa fa-exclamation" aria-hidden="true"></i>
                    </b>
                </h3>
                <ul>
                    <div class="panel-body"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                        This service is only available<br /> for Resident Savings Accounts with
                        <br />
                        domestic registered mobile number
                        <br />
                        <div class="panel-body"></div><i class="fa fa-arrow-right" aria-hidden="true"></i>
                        THE 12-Digit Resident Saving <br />Account is your primary Account <br />
                        Number Used for Internet Banking<br />

                    </div>
                </ul>
            </div>

        </div>

        <div class="card" style="padding-bottom: 20px;">

            <div class="col-md-8">
                <h3 style="color: #1b3a67;">Online Assist</h3>
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> Use Online Assist For instant solutions to
                    queries regarding charges, deliverables and many more services</p>



                <h3 style="color: #1b3a67;">Online Service</h3>

                <a
                    href=" https://images.moneycontrol.com/static-mcnews/2020/07/how-much-does-your-bank-chargeEdited.jpg"><i
                        class="fa fa-hand-o-right" aria-hidden="true"></i>
                    Charges Related

                </a>
                <br />

                <a href="/chequebook-request"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    Cheque Book Request


                </a>

                <br />
                <h3 style="color: #1b3a67;">Online Disputes</h3>

                <a class="cta-panel__inner"
                    href="https://www.wipro.com/content/dam/nexus/en/service-lines/business-process/infographics/2943-the-disputes-and-chargeback-management-process.jpg"><i
                        class="fa fa-hand-o-right" aria-hidden="true"></i>
                    Dispute

                </a>


                <h3 style="color: #1b3a67;">Need More <span>Help <i class="fa fa-question" aria-hidden="true"></i>
                    </span></h3>
                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> If the resolution you received does not meet
                    your expectations, you may communicate your concern
                    further.<br />For details <a href="/help">Click here</a></p>

                <div class="feedback">
                    <h3>Feedback Form</h3>
                    <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>

                        The goal is to gain a better understanding of the overall customer experience so we can
                        identify
                        areas for improvement.</p>
                    <a href="/feedback-form"><button class="btn btn-primary">
                            Click here
                        </button></a>

                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>