<!-- <p>header works!</p> -->
<div class="header">
    <table>
        <tr>
            <td>
                <img src="../../../assets/Logo.jpg">
            </td>
            <td>
                <tr>
                    <td>
                        <h6 style="color: white;">NET BANKING</h6>
                    </td>
                </tr>
            </td>
        </tr>
    </table>
</div>


<!-- <div class="header">
    <div class="row">
        <div class="col">
            <img src="../../../assets/Logo.png">
        </div>

        <div class="col">
            <h6 style="color: white;">NET BANKING</h6>
        </div>
        
    </div>
</div> -->